<div class="hero-unit">
    <h1>Data display for EVE Alpha</h1>
    <p>Currently displaying all data from household nodes sent in LLAP format via SRF modules.</p>
    <p><a class="btn btn-primary btn-large" ng-click="getNodes()">Get &raquo;</a>
    <a class="btn btn-primary btn-large" ng-click="stopAnimation()">Stop &raquo;</a></p>
</div><!-- .hero-unit -->
<div id="controls">
    <li class="dropdown">
        <a class="dropdown-toggle">Node ID</a>
        <ul class="dropdown-menu">
            <li ng-repeat="node in nodes">
                <a>{{node.id}}</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle">Reading Type</a>
        <ul class="dropdown-menu">
            <li ng-repeat="node in nodes">
                <a>{{node.type}}</a>
            </li>
        </ul>
    </li>
    <!-- <label>Name:</label>
    <input type="text" ng-model="yourName" placeholder="Enter a name here">
    <hr>
    <h1>Hello {{yourName}}!</h1> -->
</div>
<div ng-repeat="node in nodes" class="row" style="background-color:#B6B6B6">
    <div id="data">
        <div class="span1"><h3>{{node.id}}</h3></div>
        <div class="span1"><h3>{{node.type}}</h3></div>
        <div class="span3"><h3>{{node.value}}</h3></div>
        <div class="span5"><h3>{{node.lastUpdate | date}}</h3></div>
    </div>
    
</div><!-- .row -->
<chart ng-model='graphData' style="display:none; width:400px; height:200px;"></chart>