<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=800, initial-scale=1.0">
  <title>EVE Alpha Monitor</title>
  <meta name="description" content="Node.js App to monitor and control sensors attached wirelessly to a EVE Alpha board on a raspberry pi">
  <meta name="author" content="Richard Osterloh (richard.osterloh@gmail.com)">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="css/bootstrap-responsive.css"> -->
  <!-- <link rel="stylesheet" href="css/example-fluid-layout.css"> -->
</head>
<body ng-controller="LlapCtrl" id="body" style="background-color:rgb(50, 50, 50)">

  <div class="container" style="max-width: 600px" >
    <div class="row span3" > 
        <ul ng-repeat="node in nodes" class="thumbnails">
          <li>{{node.id}}</li>
          <li>{{node.type}}</li>
          <li>{{node.value}}</li>
        </ul>
  </div>
  <div class="container" style="max-width: 600px" >
    <div class="span1 btn btn-primary" ng-click="startAnimation()">start</div>
    <div class="span1 btn btn-primary" ng-click="stopAnimation()">stop</div>
  </div>
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="lib/angular.min.js"></script>
  <!-- <script src="lib/angular-touchevents.js"></script> -->
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script> -->
  <!-- <script src="http://code.jquery.com/jquery.min.js"></script> -->
</body>
</html>